*{
  margin: 0px;
  padding: 0px;
}



 

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
}

:root{

 /* Primary */

--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

/* Gradients */

 --Light-slate-blue: hsl(252, 100%, 67%); /* background */
--Light-royal-blue: hsl(241, 81%, 54%); /* background */

--Violet-blue: hsla(256, 72%, 46%, 1); /* circle */
--Persian-blue: hsla(241, 72%, 46%, 0); /* circle */

 /* Neutral */

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

 /* Notes */

 --Light-red-transparency: hsla(0, 100%, 67%, 0.15);
 --Orangey-yellow-transparency: hsl(39, 100%, 56%, 0.15);
 --Green-teal-transparency: hsl(166, 100%, 37%, 0.15);
 --Cobalt-blue-transparency: hsl(234, 85%, 45%, 0.15);

/* Use transparency to get the color variations necessary to match the design. Hint: look into using `hsla()`. */


}



.cuadro-principal{
  margin: auto;
  width: 375px;
  height: 100%vh;
  -webkit-box-shadow: 4px 6px 24px 0px rgba(0,0,0,0.43);
   -moz-box-shadow: 4px 6px 24px 0px rgba(0,0,0,0.43);
  box-shadow: 4px 6px 24px 0px rgba(0,0,0,0.43);
}



.resutados{
  background-image: linear-gradient( var(--Light-slate-blue) , var(--Light-royal-blue));
  width: 375px;
  height: 356px;
  padding-top: 30px;
  border-radius: 0px 0px 25px 25px;
}

.resultado-titulo{
  margin-bottom: 30px;
}

.resultado-titulo h3{
  color: var(--Light-lavender);
  text-align: center;
}

.circulo-resultado{
  width: 140px;
  height: 140px;
  background-image: linear-gradient( var(--Violet-blue) , var(--Persian-blue));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 100px;
  margin: auto;

}

.circulo-resultado h2{
  color: var(--White);
  font-size: 3.5em;
}

.circulo-resultado p{
  color: var(--Light-lavender);
}

.resultado-texto{
  margin: auto;
  margin-top: 30px;
  width: 260px;
  text-align: center;
}

.resultado-texto h2{
  color: var(--White);
  margin-bottom: 20px;
}

.resultado-texto p{
  color: var(--Light-lavender);
}

.sumario{
  margin: 30px;
}

.sumario-boton{
  background-color: var(--Dark-gray-blue);
  border: none;
  width: 315px;
  height: 60px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.sumario-boton:hover{
  background-image: linear-gradient( var(--Light-slate-blue) , var(--Light-royal-blue));
}

.datos ul li{
  list-style: none;
  margin: 18px 0px 18px 0px;
}

.datos-cuadro_rojo{
  width: 310px;
  height: 54px;
  background-color: var(--Light-red-transparency);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}
.datos-cuadro_rojo p{
  display: flex;
  color: var(--Light-red);
}

.datos-cuadro_rojo-p{
  color: var(--Light-lavender);
}

.datos-cuadro_rojo img{
  margin-right: 19px;
}

.datos-cuadro_amarillo{
  width: 310px;
  height: 54px;
  background-color: var(--Orangey-yellow-transparency);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}
.datos-cuadro_amarillo p{
  display: flex;
  color: var(--Orangey-yellow);
}

.datos-cuadro_amarillo-p{
  color: var(--Light-lavender);
}

.datos-cuadro_amarillo img{
  margin-right: 19px;
}

.datos-cuadro_verde{
  width: 310px;
  height: 54px;
  background-color: var(--Green-teal-transparency);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}
.datos-cuadro_verde p{
  display: flex;
  color: var(--Green-teal);
}

.datos-cuadro_verde-p{
  color: var(--Light-lavender);
}

.datos-cuadro_verde img{
  margin-right: 19px;
}


.datos-cuadro_azul{
  width: 310px;
  height: 54px;
  background-color: var(--Cobalt-blue-transparency);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}
.datos-cuadro_azul p{
  display: flex;
  color: var(--Cobalt-blue);
}

.datos-cuadro_azul-p{
  color: var(--Light-lavender);
}

.datos-cuadro_azul img{
  margin-right: 19px;
}



/* medias query */

@media only screen and (min-width: 1440px) {
  main{
    display: flex;
    height: 100vmax;
  }

  .cuadro-principal {
    
    width: 730px;
    height: 510px;
    display: flex;
    border-radius: 25px;
  }

  .resutados{
    height: 480px;
    border-radius: 25px;
  }

  .circulo-resultado{
    width: 200px;
    height: 200px;
  }

  .circulo-resultado h2{
    font-size: 4.5em;
  }

  .resultado-texto h2{
    font-size: 32px;
  }

  .resultado-texto p{
    font-size: 18px;
  }

  .datos ul li{
    list-style: none;
    margin: 18px 0px 18px 0px;
  }

  .sumario h3{
    margin-bottom: 30px;
  }

  .sumario-boton{
    margin-top: 30px;
  }
}







